@font-face {
  font-family: 'Gabriela';
  font-style: normal;
  font-weight: 400;
  src: local('Gabriela'), local('Gabriela-Regular'), url(http://fonts.gstatic.com/s/gabriela/v4/fLaucCvjCt_Hmc9smyo_rHYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}